/** 多系统公用样式 ---------------------------------====== Start ======-------------------------------- **/
.ui-nav {
  /* 菜单栏 */
}
.ui-nav::-webkit-scrollbar {
  width: 0;
}
.ui-nav .el-menu .el-submenu .el-menu-item {
  color: #cacdcf;
}
.ui-nav .el-menu .el-submenu .el-menu-item:hover {
  color: #fff;
}
.ui-nav .el-menu .el-submenu__title {
  border-bottom: 1px solid;
}
.ui-content .ui-main-module li.ui-search-layout_inp .el-checkbox__label {
  font-size: 12px;
}
.ui-content .ui-main-module .el-input--small {
  font-size: 12px !important;
}
.ui-content .ui-main-module .ui-search-area {
  background: #ffffff;
  border-top: 0 none;
}
.ui-content .ui-main-module .ui-main-search-btn .el-button,
.ui-content .ui-main-module .ui-filter-btn .el-button {
  width: 48px;
  height: 32px;
  padding: 0;
  border-radius: 4px;
}
.ui-content .ui-main-module .ui-main-search-btn .el-button--primary,
.ui-content .ui-main-module .ui-filter-btn .el-button--primary {
  color: #fff;
}
.ui-content .ui-main-module .ui-main-search-btn .el-button--default:focus,
.ui-content .ui-main-module .ui-filter-btn .el-button--default:focus,
.ui-content .ui-main-module .ui-main-search-btn .el-button--default:hover,
.ui-content .ui-main-module .ui-filter-btn .el-button--default:hover {
  color: #333;
  background-color: #fff;
}
.ui-content .ui-main-module .ui-filter-btn {
  box-sizing: border-box;
  margin: 5px 0 0 100px;
  text-align: left;
}
.ui-content .ui-main-module .ui-filter-btn .el-button--small {
  padding: 9px;
}
.ui-content .ui-main-module .ui-filter-btn .el-button--small i {
  margin-right: 5px !important;
  font-size: 12px !important;
}
.ui-content .ui-main-module .ui-filter-btn .el-button--text {
  margin-left: 0 !important;
}
.ui-content .ui-main-module .ui-fn-module .el-button--primary {
  padding: 8px 11px;
  margin-right: 10px;
  color: #fff;
}
.ui-content .ui-main-module .ui-fn-module .el-button--primary:hover,
.ui-content .ui-main-module .ui-fn-module .el-button--primary:active {
  color: #fff;
}
.ui-content .ui-main-module .ui-main-module-table .el-table th,
.ui-content .ui-main-module .ui-main-module-table .el-table td {
  padding: 0;
}
.ui-content .ui-main-module .ui-main-module-table .el-table .cell {
  padding: 8px;
}
.ui-content .ui-main-module .ui-main-module-table .el-table__body tr > td:first-child .el-checkbox__input {
  position: relative;
  left: -1.5px;
}
.ui-content .ui-main-module .ui-main-module-table .el-button--small:not(:first-child) span {
  display: inline-block;
  height: 11px;
  padding-left: 10px;
  border-left: 1px #38f solid;
}
.ui-content .ui-main-module .ui-main-module-table .el-button--small.is-disabled:not(:first-child) span {
  border-left: 1px #999 solid;
}
.ui-content .ui-main-module .ui-main-module-table .el-button + .el-button {
  margin-left: 6px;
}
.ui-content .ui-main-module .ui-main-module-table .ui-state_dot {
  position: relative;
  top: -2px;
  left: 0;
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
}
.popover-add-class {
  max-height: 200px !important;
  overflow: auto;
  word-break: break-all;
}
.popover-add-class::-webkit-scrollbar {
  display: none;
}
.el-popover {
  padding: 10px;
  font-size: 12px;
  color: #000;
  cursor: pointer;
}
.el-popover::-webkit-scrollbar {
  /* 隐藏滚轮 */
  display: none !important;
}
.pointer {
  cursor: pointer;
}
.ellipsis1 {
  display: block;
  max-height: 14px;
  overflow: hidden;
  line-height: 14px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ellipsis2 {
  display: -webkit-box;
  max-height: 28px;
  overflow: hidden;
  line-height: 14px;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}
.ellipsis3 {
  display: -webkit-box;
  max-height: 42px;
  overflow: hidden;
  line-height: 14px;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
}
.ellipsis4 {
  display: -webkit-box;
  max-height: 56px;
  overflow: hidden;
  line-height: 14px;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
}
.el-tag--info {
  position: relative;
  display: inline-block;
  width: auto !important;
  max-width: 100px;
  padding-right: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.el-tag--info .el-tag__close {
  position: absolute;
  top: 3px !important;
  right: 0 !important;
}
.commontablestyle {
  width: 100%;
  font-size: 12px;
  border-collapse: collapse;
  border-right: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}
.commontablestyle td {
  padding: 7px 10px;
  border-top: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
}
.commontablestyle.commontablestylea td:nth-child(2n-1) {
  text-align: center;
  background: #fafafa;
}
 /deep/ .el-loading-spinner {
  top: 40%;
  left: 50%;
  width: 100px;
  height: 100px;
  background: url('../image/loading.gif') no-repeat;
  background-position: center center;
  background-size: 90% 90%;
  transform: translateX(-50%);
}
 /deep/ .el-loading-text {
  position: absolute;
  bottom: -16px;
  font-size: 12px !important;
}
.ui-max-height {
  max-height: 110px;
  overflow: auto;
}
.ui-max-height::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
.ui-max-height::-webkit-scrollbar-thumb {
  display: block;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}
.ui-link {
  color: #3388ff;
  cursor: pointer;
}
/** 多系统公用样式 ---------------------------------====== End ======-------------------------------- **/
.el-range-editor--small .el-range-input {
  font-size: 12px;
}
.ui-main-module .ui-main-module-search li {
  width: 15%;
  min-width: 204px;
  margin-right: 15px;
}
.orangeColor {
  background: #fd9727;
}
.blueColor {
  background: #38f;
}
.greenColor {
  background: #8dc444;
}
.redColor {
  background: #f33;
}
.grayColor {
  background: #ccc;
}
